.side-drawer{
    height: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.side-drawer ul li{
    padding: 15px;
    display: block;
    border-bottom: 1px solid rgb(0,0,0,0.5);
    border-top:1px solid rgb(225,225,225,0.5) ;

}
.side-drawer.open{
    transform: translateX(0);
    transition: transform 0.3 ease;
}

.side-drawer a{
    color: rgb(12, 99, 150);
    display: flex;
    text-decoration: none;
    text-align: center;
    width: 25px;

}
.side-drawer ul li:hover
{
    background:rgb(245, 240, 240);
  
    
}