.postwrapper {
  position: absolute;
    top: 50px;
    left: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      /* background-color: #FCFCFC; */
    padding-top : 30px;
    padding-left: 20%;
    padding-right: 20%;
  
 
  }
  .postwrapper.open{
    z-index: 300;
  }
  
  .postform-wrapper {
    position: absolute;
    top: 50px;
    left: 10px;
      width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 25px;
    box-shadow: 0px 0px 18px #555;
    background-color: #ffffff;
    z-index: 300;
      transform: translateY(-200%);
    transition: transform 0.4s ease;
    /* margin-top: -1500px; */
  }
  .postform-wrapper.open{
    transform: translateY(0);
    transition: transform 0.4s ease;
    margin-top: 0px;
  }